.st-account-control {
    &__container {
        position: relative;
        display: inline-block;
    }

    &__avatar {
        max-height: 30px;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }

    &__avatar-img {
        margin-right: 15px;
        border-radius: 5px;
        height: 100%;
        width: auto;
    }

    &__avatar-name {
        text-overflow: ellipsis; 
        white-space: nowrap;
        overflow: hidden; 
        max-width: 150px;
    }

    &__modal-container {
        border-radius: 10px;
        border: 1px solid #E0E0DE;
        -webkit-box-shadow: 0px 4px 20px -10px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 4px 20px -10px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 4px 20px -10px rgba(34, 60, 80, 0.2);
        display: none;
        position: absolute;
        top: 20px;

        &_active {
            display: block;
        }
    }

    &__modal-btn {
        & + & {
            margin-left: 15px;
        }
    }

    &__arrow-down {

    }
}