// FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// BODY
body {
    font-family: "Montserrat", sans-serif;
    color: black; 
    margin: 0px; 
}

// TEXT
.stg-h1 {
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    font-style: normal;
}

.stg-h2 {
    font-size: 19px;
    font-weight: 700;
    line-height: 23px;
    font-style: normal;
}

.stg-h3 {
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
    font-style: normal;
}

.stg-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    font-style: normal;
    &_accent {
        color: #EB474F;
        background-color: #B7BDCA;
    }
} 

.stg-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    font-style: normal;
    text-decoration: none;
    color: #7DB1FF;
}

 

// BUTTON
.stg-btn {
    background-color: white;
    transition: 0.3s;
    display: inline-flex;
    gap: 10px;
    max-height: 30px;
    padding: 5px 0 5px 0;
    width: 100%;
    color: #5F5E5B;
    border-radius: 8px;
 
    &:hover {
        background-color: #B7BDCA;
        transition: 0.3s;
        color: black ;
    }

    &_big {
        border: 1px solid #E0E0DE;
        background-color: white;
        padding: 5px 10px;
        max-height: 40px;
        color: #7D7C78; 

        img {
            height: 100%;
            width: auto;
            margin-right: 10px ;
        }
    }
}


// INPUT
.stg-input {
    border: 1px solid #E0E0DE;
    border-radius: 8px;
    background-color: #F7F7F5;
    padding: 5px; 

    &::placeholder {
        color: #AEADAA;
    }
}

 
// LIST
ul {
    margin: 0px;
    padding-left: 0px;
} 

ol {

}

li {
     
}


// SECTION
 
// TABLE

// IMG 

// RADIOBUTTON
.stg-radiobtn {

}


// CHECKBOX
.stg-checkbox {

}


// SELECT 


// INDENTS
.stg-mt {
    &-8 {
        margin-top: 8px;
    }

    &-16 {
        margin-top: 16px;
    }

    &-24 {
        margin-top: 24px;
    }

    &-32 {
        margin-top: 32px;
    }
}

.stg-mr {
    &-8 {
        margin-right: 8px;
    }

    &-16 {
        margin-right: 16px;
    }

    &-24 {
        margin-right: 24px;
    }

    &-32 {
        margin-right: 32px;
    }
}

.stg-mb {
    &-8 {
        margin-bottom: 8px;
    }

    &-16 {
        margin-bottom: 16px;
    }

    &-24 {
        margin-bottom: 24px;
    }

    &-32 {
        margin-bottom: 32px;
    }
}

.stg-ml {
    &-8 {
        margin-left: 8px;
    }

    &-16 {
        margin-left: 16px;
    }

    &-24 {
        margin-left: 24px;
    }

    &-32 {
        margin-left: 32px;
    }
}


.stg-pt {
    &-8 {
        padding-top: 8px;
    }

    &-16 {
        padding-top: 16px;
    }

    &-24 {
        padding-top: 24px;
    }

    &-32 {
        padding-top: 32px;
    }
}

.stg-pr {
    &-8 {
        padding-right: 8px;
    }

    &-16 {
        padding-right: 16px;
    }

    &-24 {
        padding-right: 24px;
    }

    &-32 {
        padding-right: 32px;
    }
}

.stg-pb {
    &-8 {
        padding-bottom: 8px;
    }

    &-16 {
        padding-bottom: 16px;
    }

    &-24 {
        padding-bottom: 24px;
    }

    &-32 {
        padding-bottom: 32px;
    }
}

.stg-pl {
    &-8 {
        padding-left: 8px;
    }

    &-16 {
        padding-left: 16px;
    }

    &-24 {
        padding-left: 24px;
    }

    &-32 {
        padding-left: 32px;
    }
}


// CUSTOM
.main-container {
    display: flex;
    flex-direction: row;

    &__main-part {
        width: calc(100% - 215px);
        margin-left: 215px;
        padding: 10px;
    }
}