.st-breadcrumbs {
    &__container {
        max-height: 30px;
        display: inline-block;
    }

    &__part {
        display: inline-block;
        height: inherit;
    }

    &__part-img {
        height: 15px;
        width: auto;
    }

    &__part-text {
        margin-left: 10px;
    }

    &__delimiter {
        margin: 0px 10px;
    }
}